<header class="header">
    <nav>
        <div class="row">
            <img src="../..//assets/img/logo-white.png" alt="Omnifood logo" class="logo small">
            <img src="../../assets/img/logo.png" alt="Omnifood logo" class="logo-black">
            <ul class="main-nav js--main-nav">
                <li *ngIf="!userIsAuthenticated"><a routerLink="/login">Login</a></li>
                <li *ngIf="!userIsAuthenticated"><a routerLink="/signup">Sign up</a></li>
                <li *ngIf="userIsAuthenticated"><button (click)="onLogout()">Logout</button></li>
            </ul>
            <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
        </div>
    </nav>
 
</header>